<!-- Contact -->
{{ with .Params.contact }} 
<section class="contact">
  <h2 class="">{{.title}}</h2>

  <form name="contact" action="POST" netlify>
      <!-- Name -->
      <fieldset class="name">
        <input type="text" id="name" name="name" placeholder="{{.name}}" class="">
        <label for="name">{{.name}}</label>
        <img src="/img/icons/name.svg" alt="">
      </fieldset>
      <!-- Email -->
      <fieldset class="email">
        <input type="email" id="email" name="email" placeholder="{{.email}}" class="">
        <label for="email">{{.email}}</label>
        <img src="/img/icons/email.svg" alt="">
      </fieldset>

    <!-- Message -->
    <fieldset class="message">
      <textarea id="message" name="message" placeholder="{{.message}}" rows="8" cols="80" class=""></textarea>
      <label for="message">{{.message}}</label>
      <img src="/img/icons/message.svg" alt="">
    </fieldset>
    <!-- Button -->
    <button type="submit" class="button">{{.submit}}</button>
  </form>
</section>
{{ end }}