{{ partial "cursors" }}
<!-- Accessibility Code for "subversions.ca" -->
<script>
    window.interdeal = {
        "sitekey": "1431e5bb94b7c42b91a9b8d0c1f26707",
        "Position": "Right",
        "Menulang": "EN-CA",
        "domains": {
            "js": "https://cdn.equalweb.com/",
            "acc": "https://access.equalweb.com/"
        },
        "btnStyle": {
            "vPosition": [
                "90%", "null"
            ],
            "scale": [
                "0.6", "0.6"
            ],
            "color": {
                "main": "#4c184b",
                "second": ""
            },
            "icon": {
                "type": 11,
                "shape": "circle",
                "outline": false
            }
        }
    };
    (function (doc, head, body) {
        var coreCall = doc.createElement('script');
        coreCall.src = 'https://cdn.equalweb.com/core/3.0.3/accessibility.js';
        coreCall.defer = true;
        coreCall.integrity = 'sha512-7eVrsWwFQXxbr/QB7Zt+wVSQqLq8ulYJHplOZ5rv/8cre3RPseIPBmSERndeTFrpHRX8eDnIzwNckqynpi6IfA==';
        coreCall.crossOrigin = 'anonymous';
        coreCall.setAttribute('data-cfasync', true);
        body ? body.appendChild(coreCall) : head.appendChild(coreCall);
    })(document, document.head, document.body);
</script>
<script src="/app.js"></script>
