<nav class="navbar">

  <!-- Logo -->
  <h4><a href="{{ .Site.Home.RelPermalink }}">
    {{ .Site.Title }}
  </a></h4>

  <!-- Menu Icon -->
  <div class="nav-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <!-- Primary Nav -->
	<ul class="">
		<li><a href="/issue" class="">current issue</a></li>
    <li><a href="/archive" class="">archive</a></li>
    <li><a href="/about" class="">about</a></li>
    <li><a href="/about#contact" class="">contact</a></li>
    <li><a href="/" class="">FR</a></li>
	</ul>


</nav>
