<nav class="navbar">

  <!-- Logo -->
  <h3><a href="{{ .Site.Home.RelPermalink }}">
    {{ .Site.Title }}
  </a></h3>

  <!-- Menu Icon -->
  <div class="nav-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <!-- Primary Nav -->
	<ul class="nav-menu {{ if (eq .Type "issue" "submission") }} teal {{ end }}">
    {{ $currentPage := . }}
    {{ $url := .RelPermalink }}
    {{ range .Site.Menus.main }}
		<li class="nav-item">
      <a  href="{{ .URL | absLangURL }}" class="nav-link">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
    {{ if .Site.IsMultiLingual }}
      <li class="nav-item">
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang }}
        {{ range .Page.AllTranslations }}
          {{ $translation := . }}
          {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
              {{ $selected := false }}
              {{ if ne $pageLang .Lang }}
              <a href="{{ $translation.RelPermalink}}" class="lang">{{ .Lang }}</a>
              {{ end }}
            {{ end }}
          {{ end}}
        {{ end }}
      </li>
    {{ end }}
	</ul>
</nav>
