<nav class="pagination">	
    <a href="{{ with .PrevInSection }}{{.RelPermalink}}{{ end }}" class="{{ if not .PrevInSection }}disabled{{ end }}">
        <img src="img/icons/arrow-left.svg" alt="Left arrow" />
    </a>
    
    <a href="{{ "/issue/2021" | relLangURL }}">
        <img src="img/icons/close.svg" alt="Close symbol" />
    </a>

    <a href="{{ with .NextInSection }}{{.RelPermalink}}{{ end }}" class="{{ if not .NextInSection }}disabled{{ end }}">
        <img src="img/icons/arrow-right.svg" alt="Right arrow" />
    </a>

</nav>