<div class="art {{ if or (eq .genre "Poetry") (eq .genre "Essay")}}bg-texture{{ end }}">
  {{ if .text }}
    <div class="poem essay">
      {{ .text | markdownify }}
    </div>
  {{ end }}
  {{ if .img }}
    <img data-blink-src="{{ .img.image }}" alt="{{ .img.alt }}">
  {{ end }}
  {{ with .video }}
  <div class="video">   
    <iframe src="https://www.youtube.com/embed/{{.link}}" width="100%" height="100%" frameborder="0" title="{{.title}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  {{ end }}
  {{ with .zine }}
  <div class="video">   
    <iframe src="{{.pdf}}" width="100%" height="100%" frameborder="0" title="{{.title}}"><iframe/>
  </div>
  {{ end }}  
</div>