<div class="telescopic">Subversions
    <span class='a'>
        <span class='b'>est</span>
        <span class='c'>est un projet collaboratif
            <span class='a'>
                <span class='b'>et</span>
                <span class='c'>et inclusif. Une
                    <span class='a'>
                        <span class='b'>plateforme,</span>
                        <span class='c'>plateforme, pour publier des travaux en cours et des itérations créatives, qui élargit notre conception de la
                            <span class='a'>
                                <span class='b'>recherche.</span>
                                <span class='c'>recherche et de l'art.</span>
                            </span>
                        </span>
                    </span>
                    <span class='a'>
                        <span class='b'>une</span>
                        <span class='c'>Une</span>
                    </span>
                    <span class='a'>
                        <span class='b'>communauté.</span>
                        <span class='c'>communauté de personnes diverses, qui s'entraident (et s'appuient) au sein et en dehors du
                            <span class='a'>
                                <span class='b'>milieu universitaire.</span>
                                <span class='c'>milieu universitaire. Cela dit, Subversions
                                    <span class='a'>
                                        <span class='b'>est</span>
                                        <span class='c'>est en constante évolution et est</span>
                                    </span>
                                    organisé par WSSA (représentant•e•s actifs des programmes d'études féministes et d'études de la sexualité de l'Université Concordia).</span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</div>
