<h4>
  Subversions is collaborative and inclusive. A platform, to publish works in progress, and creative iterations—expanding our conception of research, and art. A community—of diverse folks, uplifting (and relying on) each other within and beyond academia. That said, Subversions is ever-shifting, and put on by WSSSA (active representatives of Concordia University's Women's Studies and Sexuality Studies programs).
</h4>

{{/*  <div class="telescopic">
  <span class="a">
    <span class="b">I</span>
    <span class="c">Yawning,
      <span class="a">
        <span class="b">I</span>
        <span class="c">
          <span class="a"></span>
          <span class="a">into the kitchen and</span>
        </span>
      </span>
    </span>
  </span>
  <span class="a">
    <span class="b">made</span>
  </span>
  <span class="a">
    <span class="b">tea.</span>
  </span>
  {{ range .telescopic }}
  <span class="{{.}}">{{ .text }}</span>
  {{ end }}
</div>  */}}