
<div class='telescopic'>
  Subversions 
  <span class='a'>
    <span class='b'>
      is
    </span>
    <span class='c'>
      is collaborative
      <span class='a'>
        <span class='b'>
          and
        </span>
        <span class='c'>
          and inclusive. A 
          <span class='a'>
            <span class='b'>
              platform,
            </span>
            <span class='c'>platform, to publish works in progress, and creative iterations—expanding our conception of 
              <span class='a'>
                <span class='b'>
                  research.
                </span>
                <span class='c'>
                  research, and art.
                </span>
              </span>
            </span>
          </span> 
          <span class='a'>
            <span class='b'>
              a
            </span>
            <span class='c'>
              A
            </span>
            </span> 
            <span class='a'>
              <span class='b'>
                community.
              </span>
              <span class='c'>
                community—of diverse folks, 
                <span class='a'>
                  <span class='b'>
                    uplifting
                  </span>
                  <span class='c'>
                    uplifting (and relying on)
                  </span>
                </span> 
                each other within and beyond 
                <span class='a'>
                  <span class='b'>
                    academia.
                  </span>
                  <span class='c'>academia. That said, Subversions 
                    <span class='a'>
                      <span class='b'>
                        is
                      </span>
                      <span class='c'>
                        is ever-shifting, and
                      </span>
                    </span>
                     put on by WSSA (active representatives of Concordia University's Women's Studies and Sexuality Studies programs).
                  </span>
                </span>
              </span>
            </span>
          </span>
        </span>
    </span>
  </span>
</div>
