<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="gradient purple {{ if (eq .Type "issue" "submission") }} blue {{ end }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}
    <div class="bg-texture shadow {{ if eq .Type "submission"}}shadow-teal{{end}}"/>
    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
