/* Animated Background Gradient ---------------------------------------------- */

html, body {
  background-image: var(--gradient);
  background-size: 600%;
  background-position: 0 0;
  /* Animation */
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

@keyframes gradients {
  0%   {background-position: 0 0;}
  25% {background-position: 50% 0;}
  50% {background-position: 90% 0;}
  60% {background-position: 60%;}
  75% {background-position: 40%;}
  100%  {background-position: 0 0;}
}

/* Background texture ---------------------------------------------- */

.bg-texture{ 
  /* Background */
  background-image: url('/resources/paper.png');
  border-radius: var(--border-radius);
  background-size: cover;

  /* Positioning */
  position: fixed;
  left: var(--spacing-large);
  top: calc(var(--spacing-extra-large) + var(--spacing-small));
  z-index: 0;
  width: calc(100vw - (var(--spacing-large) * 2));
  height: var(--wrapper-height);
}

.shadow-teal {
  box-shadow: -10px 10px 0px 0px var(--shadow-teal);
}