.gallery-single-row {
  /* Layout */
  height: var(--wrapper-height);
  display: flex;
  margin-left: 40px;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: var(--spacing-large);
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-left: -40px;
    background-image: url('/img/icons/arrow-right.svg');
    background-size: 30px 30px;
    background-repeat: norepeat;
    height: 30px;
    min-width: 30px;
  }
}

.scroll {
  /* Scroll behaviour */
  overflow-x: scroll;

  /* Scroll bar */
  scrollbar-width: none;
}

.card {
  width: max-content;
  display: flex;
  flex-direction: column;
  z-index: 1;
  
  &.issue {
    
  }
  
  .label {
    padding: var(--spacing-small);
  }
}