.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-medium);


  @media (--breakpoint-large) {  
    padding: 0 var(--spacing-extra-large);
  }

  a {
    text-decoration: none;
    transition: color .3s ease;
  }

  a:hover {
    color: rgba(121, 121, 121, 1);
  }

  ul {
    @media (--breakpoint-medium) {
      display: flex;
    }

    li {
      padding: var(--spacing-medium);
    }
  }
  
}

.nav-icon {

}
