@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-Italic.otf") format("otf");
  font-weight: normal;
  font-style: italic, oblique;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("/fonts/OpenDyslexic-BoldItalic.otf") format("otf");
  font-weight: bold;
  font-style: italic, oblique;
}