.telescopic {
  color: white;
  padding: var(--spacing-large);
  font-family: var(--font-family-dyslexic);
  font-size: var(--h2-size);
  line-height: 200%;
  margin-bottom: var(--spacing-extra-large);


  @media (breakpoint-medium){
    padding: var(--spacing-large);
  }
  @media (breakpoint-large){
    padding: var(--spacing-extra-large);
  }
}

._b {
  background-color: var(--highlight);
}

.reveal {
  padding: 0 var(--spacing-small);
  background: var(--gray);
}

.show {
  display: inline;
}

.hide {
  display: none;
}