.telescopic {
  color: white;
  padding: var(--spacing-large);

  h2, h3 {
    margin-bottom: var(--spacing-medium);
  }

  @media (breakpoint-medium){
    padding: var(--spacing-large);
  }
  @media (breakpoint-large){
    padding: var(--spacing-extra-large);
  }
}

.a {

}

.b {

}

.c {

}

.reveal {
  padding: 0 var(--spacing-small);
  background: var(--gray);
}

.show {
  display: inline;
}

.hide {
  display: none;
}