/* Fix heights on mobile */
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
  }
  html {
	height: -webkit-fill-available;
  }

/* Components ------------------------------------------------------------- */

.wrapper {
	/* padding: var(--spacing-large);
  padding-right: 0; */
	border-radius: var(--border-radius);
	height: var(--wrapper-height);

	@media (--breakpoint-large) {
		/* padding: var(--spacing-extra-large); */
	}
	@media (--breakpoint-max-medium) {
		max-height: 100%;
	}
}

.grid-col-2 {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;

	@media (--breakpoint-large) {
		grid-template-columns: 1fr 3fr;
		gap: var(--spacing-large);

		&.about {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.hide-md {
	text-align: center;
	margin-bottom: var(--spacing-small);
	@media (--breakpoint-medium) {
		display: none;
	}
}

.hide-sm {
	display: none;
	@media (--breakpoint-medium) {
		display: block;
	}
}
