html {
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrollbar {
    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar::-webkit-scrollbar { display: none; }

.scrollX {
    overflow-x: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
    touch-action: pan-x;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.scrollX::-webkit-scrollbar { display: none; }

.scrollY {
    overflow-y: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
    touch-action: pan-y;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.scrollY::-webkit-scrollbar { display: none; }
