.card {
  width: max-content;
  display: flex;
  flex-direction: column;
  z-index: 1; 
  .label {
    padding: var(--spacing-small);
  }
  &-submission {
    width: 250px;
    height: auto;
    background-color: inherit;
    color: var(--white);
    border-radius: var(--border-radius);
    border: 2px transparent solid;
    .genre {
      text-transform: lowercase;
      font-family: var(--font-family-dyslexic);
    }
    img {
      border-radius: var(--border-radius);
      border: 2px transparent solid;
    }
  }
  &.bg-texture {
    position: static;
    color: var(--black);
  }

}

a:hover .card-submission img, a:active .card-submission img, a:hover .bg-texture, a:active .bg-texture {
  box-shadow: 0px 4px 0px 0px var(--color-5);
  border: 2px var(--color-5) solid;
}