.card {
	display: flex;
	flex-direction: column;
	z-index: 1;
	width: 50vw;
	height: auto;
	background-color: inherit;
	color: var(--white);
	border-radius: var(--border-radius);
	border: 2px transparent solid;

	img {
		border-radius: var(--border-radius);
	}

	&-submission {
		max-height: 80vh;
	}
	.genre {
		text-transform: lowercase;
		font-family: var(--font-family-dyslexic);
		margin-bottom: 0;
	}
	&.max-img{
		width: 250px !important;
		max-width: 250px;
		img {
			border-radius: var(--border-radius);
			border: 2px transparent solid;
			object-fit: contain;
			height: auto;
			align-self: flex-start;
		}
	}
	.label {
		padding: var(--spacing-small);
		time {
			display: inline-block;
		}
	}

	&.bg-texture {
		position: static;
		color: var(--black);
	}
	@media (--breakpoint-not-small) {
		width: 250px;
		height: auto;
	}
	@media (--breakpoint-large) {
	}
}

a:hover .card img,
a:active .card img,
a:hover .bg-texture,
a:active .bg-texture {
	box-shadow: 0px 4px 0px 0px var(--color-5);
	border: 2px var(--color-5) solid;
}
