.scroll {
  /* Scroll behaviour */
  overflow-x: scroll;
  overflow-y: hidden;

  /* Scroll bar */
  scrollbar-width: none;
}

.gallery {
  height: var(--wrapper-height);
  max-height: var(--wrapper-height);
  display: grid;
  grid-auto-flow: column;
  padding: var(--spacing-large);
  padding-right: 0;
  gap: var(--spacing-large);
  align-items: center;

  @media (--breakpoint-medium) {
    padding: var(--spacing-extra-large) 0;
    padding-right: 0;
  }

  &-single-row {
    grid-template-rows: 1fr;
  }

  &-double-row {
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);

  }

}

