.scroll {
	/* Scroll behaviour */
	overflow-x: scroll;
	overflow-y: hidden;

	/* Scroll bar */
	scrollbar-width: none;
}

.gallery {
	max-height: var(--wrapper-height);
	display: grid;
	grid-auto-flow: column;
	gap: var(--spacing-large);
	padding: var(--spacing-large);
	padding-right: 0;
	align-items: center;
	position: relative;

	> *:last-child {
		padding-right: var(--spacing-large);
	}

	@media (--breakpoint-medium) {
		padding-left: var(--spacing-extra-large);
		> *:last-child {
			padding-right: var(--spacing-extra-large);
		}
	}
	@media (--breakpoint-large) {
		height: var(--wrapper-height);
		padding: var(--spacing-extra-large) 0;
	}

	&-single-row {
		grid-template-rows: 1fr;
	}

	&-double-row {
		grid-template-rows: minmax(min-content, max-content) minmax(
				min-content,
				max-content
			);
	}
}

// WIP scroll cursor arrow

/* .scroll-left {
	position: fixed;
	left: 0;
	width: 20vw;
	height: 60%;
	cursor: url(/img/icons/arrow-left.svg), auto;
}

.scroll-right {
	position: fixed;
	right: 0;
	width: 20vw;
	height: 60%;
	cursor: url(/img/icons/arrow-right.svg), auto;
} */
