.gallery {
	max-height: var(--wrapper-height);
	display: flex;
	flex-direction: column;
	/* grid-auto-flow: column; */
	gap: var(--spacing-large);
	padding: var(--spacing-large);
	padding-right: var(--spacing-large);
	align-items: flex-start;
	position: relative;
	> * {
		padding-left: 0;
		margin-left: 0;
		margin-right: 0;

	}

	@media (--breakpoint-max-medium) {
		max-height: 100%;
		> * {
			margin-right: var(--spacing-large);
			margin-bottom: var(--spacing-large);
		}
	}
	@media (--breakpoint-medium) {
		padding-left: var(--spacing-extra-large);
		padding-right: var(--spacing-extra-large);
	}
	@media (--breakpoint-large) {
		height: var(--wrapper-height);
		padding: var(--spacing-extra-large) 0;
		padding-right: var(--spacing-extra-large);
	}

	&-single-row {
		flex-direction: row;
		@media (--breakpoint-not-small) {
			align-items: center;
			.card {
				min-width: 250px;
				max-width: calc(100vw / 2.4);
			}
		}
	}

	&-double-row {
		flex-wrap: wrap;
	}
}

// WIP scroll cursor arrow

/* .scroll-left {
	position: fixed;
	left: 0;
	width: 20vw;
	height: 60%;
	cursor: url(/img/icons/arrow-left.svg), auto;
}

.scroll-right {
	position: fixed;
	right: 0;
	width: 20vw;
	height: 60%;
	cursor: url(/img/icons/arrow-right.svg), auto;
} */
