.navbar {
  /* All sizes */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-medium);
  background-color: inherit;

  @media (--breakpoint-medium) {  
    padding: 0 var(--spacing-extra-large);
    flex-direction: row;
    height: var(--spacing-extra-large);
  }

  .nav-link {
    text-decoration: none;
    transition: all .5s;
    border-bottom: .5px solid rgba(255,255,255,0);
  }

  .nav-link:hover, .nav-link:active, .nav-link:focus, .nav-link.active {
    border-bottom: .5px solid rgba(255, 255, 255, 1);
  }

  .nav-menu {

    &.active{
      right: var(--spacing-large);
    }

    .nav-item {
      padding: var(--spacing-medium);
    }

    @media (--breakpoint-max-medium) {
      position: fixed;
      overflow-y: scroll;
      right: -100%;
      padding-bottom: 20em;
      top: 4.2em;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: right 0.3s;
      font-weight: var(--bold-font-weight);
      z-index: 999;
      /* Mobile Background */
      background-color: var(--color-1);
      /* Same as .bg-texture */
      background-image: url('/resources/paper.png');
      border-radius: var(--border-radius);
      background-size: cover;
      top: calc(var(--spacing-extra-large) + var(--spacing-small));
      width: calc(100vw - (var(--spacing-large) * 2));
      height: var(--wrapper-height);
    }

    @media (--breakpoint-medium) {
      display: flex;

    }
  }

}

.lang {
  text-transform: uppercase;
}

/* Mobile menu icon */
.nav-icon {
  display: block;
  cursor: pointer;

  @media (--breakpoint-medium) {
    display: none;
  }
}

.bar {
  display: block;
  background-color: var(--white);
  width: 24px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.nav-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}