.info-text,
.issue-text {
	padding: var(--spacing-large);
	padding-bottom: 0;
	text-align: center;

	.text {
		padding-top: var(--spacing-medium);
	}

	@media (--breakpoint-not-small) {
		text-align: left;
	}

	@media (--breakpoint-medium) {
		padding: var(--spacing-extra-large);
		padding-bottom: 0;
	}
	@media (--breakpoint-large) {
		padding: var(--spacing-extra-large);
		padding-right: 0;
		min-width: 400px;
		max-height: var(--wrapper-height);
	}
}

.info-text {
	align-self: flex-start;
}
.scroll-hint {
	margin-top: var(--spacing-large);
	font-weight: bold;
	max-width: 100%;
	position: absolute;
	right: var(--spacing-large);
	bottom: var(--spacing-medium);
}